{% extends "cms/page.html" %}
{% load i18n cms_tags sekizai_tags static %}

{% block headtitle %}{% trans "Connexion" %}{{block.super}}{% endblock headtitle %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script>
        window.passkeysConfig = {
            crossPlatform: "{{request.session.passkey.cross_platform|default:0}}",
            enroll: "{{enroll}}",
            urls: {
                home: "{% url 'passkeys:home' %}",
                authBegin: "{% url 'passkeys:auth_begin' %}",
                regBegin: "{% url 'passkeys:reg_begin' %}",
                regComplete: "{% url 'passkeys:reg_complete' %}",
                enroll: `{% url 'passkeys:enroll' enroll=True %}`,
                delKey: "{% url 'passkeys:delKey' %}",
                toggle: "{% url 'passkeys:toggle' %}",
            },
        }
    </script>
    <script src="{% static 'passkeys/js/script.js'%}"></script>

{% endblock head %}
    
{% block body %}
<main class="content-box box">
    <h1 class="center-align text-01">{% trans "Connexion" %}</h1>
    {% include "auth/includes/login-form.html" %}
    <hr>
    <button class="btn btn-block btn-dark" type="button" onclick="authn('loginForm')"><img src="{% static 'passkeys/imgs/FIDO-Passkey_Icon-White.png' %}" style="width: 24px"> &nbsp;Login By Passkeys</button>
</main>
{% endblock %}