{% extends 'passkeys/base.html' %} {% load static sekizai_tags %} 

{% block head %}{{block.super}}{% endblock head %}
{% block body %}
<div class="container-fluid">
    <!-- Page Content -->
    {% if registered %}
    <div class="alert alert-success">Registered Successfully</div>
    {% endif %}
    <h1>Welcome {{ request.user.username|default:"" }}!</h1>
    <hr />
    <div id="pk" class="alert alert-info" style="display: none">
        Your device supports passkeys,
        <a href="{%url 'passkeys:enroll'%}">Enroll</a>
    </div>
</div>
{% endblock %}




{% block endbodyscript %}
<script>
    function register_pk() {
        document.querySelector("#pk").style.display = "block";
    }
    document.addEventListener("DOMContentLoaded", () => {
        check_passkey(true, register_pk)
    })
</script>
{% endblock endbodyscript %}
