{% extends 'passkeys/base.html' %} {% load static sekizai_tags %}

{% block head %}{{block.super}}{% endblock head %}
{% block body %}
<div class="container-fluid">
    <!-- Page Content -->
    {% if registered %}
    <div class="alert alert-success">Registered Successfully</div>
    {% else %}
    <form action="." method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <div class="buttons-grid grid">
            <input type="submit" class="action-button button"  value="Submit"/>
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}
